# Exploratory Data Analysis Data Axis (x,y,z)

referensi:<br>
https://www.kaggle.com/code/estevanamazonas/agressive-behaviour-eda-modeling-finetuning <br>
https://www.kaggle.com/code/pratul007/deep-learning-with-high-graphics  <br>

## Import Packages

In [1]:
import pandas as pd
import numpy as np # linear algebra
import matplotlib.pylab as plt

import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

In [2]:
# Read CSV
df = pd.read_csv('dataset/merge_data.csv')

In [4]:
df.describe(include="all")

,timestamp,x,y,z,label
count,28392,28392.000000,28392.000000,28392.000000,28392.000000
unique,28392,NaN,NaN,NaN,NaN
top,2022-07-06 07:41:54.320,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN
mean,NaN,-0.766484,245.575514,41.893738,0.500000
std,NaN,6.895088,8.203194,7.872899,0.500009
min,NaN,-97.000000,169.000000,-48.000000,0.000000
25%,NaN,-2.000000,243.000000,38.000000,0.000000
50%,NaN,0.000000,246.000000,42.000000,0.500000
75%,NaN,1.000000,249.000000,45.000000,1.000000
max,NaN,190.000000,394.000000,352.000000,1.000000

## Analisis Statistical
<li> rentang nilai dari sumbu x, -97 sampai 394
<li> rentang nilai dari sumbu y, 169 sampai 394
<li> rentang nilai dari sumbu y, -48 sampai 352
<br><br>
seharusnya mencari rata-rata, median, std tidak diperbolehkan terdapat nilai yang negatif. Nilai negatif ini adalah posisi letak sumbu x,y,z yang memungkinkan nilai menjadi negatif. Maka, akan dilakukan perhitungan ulang dengan menambahkan absolute

# Visualize the Data